body {
    margin: 0;
    padding: 0;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:burlywood;
}

.eingabe {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 4rem;
}

input {
    border: none;
    border-bottom: solid 1px black;
    width: 3rem;
}

img {
    width: 200px;
}

button {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 5px;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color:forestgreen;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    width: 700px;
    background-color: white;
    border-bottom: dashed 1px burlywood;
}
    
.container__text {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
    margin-bottom: 1rem;
}